@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body {
    font-family: 'Titillium Web', sans-serif;
}
html {
    scroll-behavior: smooth;
    
}
#home {
    color: #fff;
    background:linear-gradient(rgba(119, 109, 109, 0.253),rgba(102, 94, 94, 0.24)),url(../img/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 758px;

    
    header {
        padding-top: 250px;
        position: relative;

        h1 {
            font-weight: 700;
            font-size: 53px;
            letter-spacing: 1;
            &::after {
                content: " ";
                position: absolute;
                top: 100%;
                left: 44%;
                width: 100px;
                height: 2px;
                background: #f4623a96;
            }
        }
        .sort-description {
            color: rgba(255, 255, 255, 0.746);
            font-size: 17px;
            letter-spacing: 2px;
            margin: 20px 0 40px 0;
        }
       
        .home-btn {
            background: #F4623A;
            color:#fff;
            padding: 16px 36px;
            border-radius: 20px;
            font-weight: 700;
            &:hover {
                background: red;
            }
        }
    }
  
   
}

#about {
    background: #F4623A;
    color: #fff;

    .inner-about {
        max-width: 800px;
        margin: auto;
        text-align: center;
        padding: 100px 0;

        h2 {
            margin-bottom: 50px;
        }
    }

    .sort-description {
        color: rgba(255, 255, 255, 0.746);
        font-size: 14px;
        letter-spacing: 1;
        margin: 20px 0 40px 0;
    }
    .btn-about {
        padding: 12px 36px;
        border-radius: 20px;
        font-weight: 800;
    }
}

#service {
    padding-bottom: 100px;
    background: #fff;
    color: black;

    .inner-service {
        max-width: 800px;
        margin: auto;
        text-align: center;
        padding: 100px 0 50px 0;
         
        h2 {
            margin-bottom: 20px;
            &::after {
                content: " ";
                position: absolute;
                top: 100%;
                left: 44%;
                width: 100px;
                height: 2px;
                background: #f4623a96;
            }
        }
    }
    
    .service-box {
        text-align: center;
        padding: 10px;
        

        h4 {
            margin-top: 35px;
        }

        .service-description {
            color: rgba(0, 0, 0, 0.678);
        }

        i {
            font-size: 80px;
            color: #F4623A;
        }
    }
}

#protfolio {
    background: black;
    color: #fff;
    text-align: center;

    .inner-protfolio {
        padding: 50px 0 100px 0;
    }
    .protfolio-btn {
        padding: 12px 26px;
        border-radius: 20px;
        margin-top: 20px;
        font-weight: 700;
    }
}

#contact {
    background: #fff;
    color: black;
    padding: 100px 0;
    text-align: center;

    h2 {
        margin-bottom: 50px;
    }
    p {
        color: rgba(0, 0, 0, 0.664);
        margin-bottom: 50px;
    }
    .contact-box {

        i {
            font-size: 40px;
            margin-bottom: 30px;
        }
        p {
            a{
                color: red;
            }
        }

    }
}

footer {
    background: rgb(231, 228, 228);
    color: black;
    text-align: center;
    overflow: hidden;
    padding: 20px 0 7px 0;
}